<!DOCTYPE html>
<html>
<head>
    <title>Социальный фонд России</title>
    <link rel="stylesheet" type="text/css" href="/css/Style.css">
</head>
<body>
<header>
    <div class="header-content">
        <img src="/images/Логотип БЕЛЫЙ 2.png" draggable="false" alt="Логотип" class="logo">
        <div class="divider"></div>
        <span class="header-text no-copy">Результат поиска</span>
    </div>
</header>
<div class="top">
    <form id="back-button" action="/" method="GET" class="topform">
        <button class="backbutton">
            <img src="/images/ещё одна стрелочка.png" draggable="false" alt="Стрелка">
            <span>Назад</span>
        </button>
    </form>
    <form id="myForm" action="/api/search" method="POST" class="topform">
        <input type="text" name="query"  placeholder="Поиск" id="userInput" class="topinput">
        <button class='topbutton' type="submit" id="submitButton"><img src="/images/лупа.png" draggable="false" alt="Картинка" width="45" height="45"></button>
    </form>
</div>
<form class="container" action="/service" method="POST">
        <span>Ничего не найдено</span>
</form>
<button class="button-bottom">
    <img src="/images/logoSberAI.png" alt="Логотип Сбер АИ">
    <span class="no-copy">Модель распознавания русского жестового языка разработана командой:</span>
</button>
<script src="/js/script.js"></script>
</body>
</html>
