<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Социальный фонд России</title>
  <link rel="stylesheet" type="text/css" href="static/css/Stylefcat1.css">
</head>
<body>
    <header>
        <div class="header-content">
          <img src="images/Логотип БЕЛЫЙ 2.png" draggable="false" alt="Логотип" class="logo">
          <div class="divider"></div>
          <span class="header-text no-copy">Пенсии и иные выплаты</span>
        </div>
      </header>
      <div class="top">
        <button class="backbutton" onclick="document.location='category.html'">
          <img src="images/ещё одна стрелочка.png" draggable="false" alt="Стрелка">
          <span>Назад</span>
        </button>
        <form>
          <input type="text" placeholder="Поиск">
          <button type="submit"><img src="images/лупа.png" draggable="false" alt="Картинка" width="45" height="45">
          </button>
        </form>
      </div>
      <div class="container">
        <button th:each="service : ${services}">
            <img src="images/pop.gif" alt="Картинка" id="my-image" draggable="false">
            <img src="images/1usluga.png" draggable="false" alt="Картинка">
            <span th:text="${service.name}">Product Price</span>
        </button>
      </div>
      <button class="button-bottom">
        <img src="images/logoSberAI.png" alt="Логотип Сбер АИ">
        <span class="no-copy">Модель распознавания русского жестового языка разработана командой:</span>
      </button>
      <script src="js/scriptfcat1.js"></script>
</body>
</html>
